<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
        <add key="defMidiIn" value="0" />
        <add key="defMidiOut" value="0" />
        <add key="clsid" value="NONE"/>
    </appSettings>
</configuration>
